
<h1>SignUP</h1>
<div class="signup">
<form method="post" action="/signUp">
<div> userName: <input type="text" name="name"/></div>
<div>email: <input type="text" name="email"/></div>
<div>password: <password><input type="password" name="password"/></div>
<div><input type="submit" value="signup"/></div>
</form>
</div>