<html>
<head>
<title>files upload</title>
</head>
<body>
<h1>Files Upload</h1>
<form enctype="multipart/form-data" action="/upload" method="post">
File: <input type="file" name="image" multiple="multiple"/><br/>
      <input type="submit" value="upload"/>
</form>
</body>
</html>