<h1>Login</h1>
<div class="login">
<form method="POST" action="/login">
<div>Email: <input type="text" name="email" size="40"/></div>
<br/>
<div>Password: <input type="password" name="password" size="40"/></div>
<br/>
<div>
<p><input type="submit" value="Login" /></p>
</div>
</form>
</div>
<div>
<a href="/createUser">Create Account</a>
</div>